<main class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg ">
	<div class="container-fluid py-4">

		<div class="row">
			<div class="col-12 ">
				<div class="card mb-4">
					<div class="card-header pb-0">
						<h6>Admin table</h6>
					</div>
					<div class="card-body px-0 pt-0 pb-2">
						<div class="table-responsive p-0">
							<table class="table align-items-center mb-0">
								<thead>
									<tr>
										<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
											Author
										</th>
										<th
											class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
											Function
										</th>
										<th
											class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
											Employed
										</th>
										<th
											class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
											Detail
										</th>
									</tr>
								</thead>
								<tbody id="admin-body">
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<nav aria-label="Page navigation example">
					<ul class="pagination" style="display: flex; justify-content: right;" id="admin-pagination">
					</ul>
				</nav>
			</div>
		</div>
	</div>

	<footer class="footer pt-3  "></footer>
</main>


<script src="/js/userAjax.js"></script>