.checkmark {
    border-radius: 50%;
    stroke-width: 2;
    stroke: green;
    stroke-miterlimit: 10;
    stroke-dashoffset: 0;

}

td i
{
    font-size: 18px !important;
    margin: 0px 5px ;
    transition: 0.3s all ease;
}

td i:hover {
    cursor: pointer;
    font-size: 22px !important;
}

.fa-check-circle:hover {
    color: green;
}

.fa-truck:hover {
    color: #f0ad4e;
}

.fa-ban:hover {
    color: red;
}