<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon.png">
	<link rel="icon" type="image/png" href="/img/favicon.png">
	<title>
		Soft UI Dashboard by Creative Tim
	</title>
	<!--     Fonts and icons     -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<!-- Nucleo Icons -->
	<link href="/vendors/nucleo/nucleo-icons.css" rel="stylesheet" />
	<link href="/vendors/nucleo/nucleo-svg.css" rel="stylesheet" />
	<!-- CSS Files -->
	<link id="pagestyle" href="/vendors/bootstrap5/bootstrap.min.css" rel="stylesheet" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendors/hamburger/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendors/fontawesome/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendors/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendors/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/sign-in.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/custom_sign-in.css">

</head>

<body>
<div class="d-flex justify-content-center align-items-center mt-5 pt-5">
	{{{ body }}}
</div>
</body>


<!--   Core JS Files   -->
<script src="/vendors/popper.min.js"></script>
<script src="/vendors/bootstrap5/bootstrap.min.js"></script>
<script src="/vendors/perfect-scrollbar.min.js"></script>
<script src="/vendors/smooth-scrollbar.min.js"></script>
<script src="/vendors/chartjs.min.js"></script>

<!-- Font Awesome Icons -->
<script async src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
<!-- Github buttons -->
<script async src="https://buttons.github.io/buttons.js"></script>
<!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
<script src="/js/soft-ui-dashboard.min.js?v=1.0.3"></script>

<script src="/vendors/bootstrap5/bootstrap.min.js"></script>
<script src="/vendors/jquery/jquery-3.2.1.min.js"></script>
<script src="/vendors/popper.js"></script>
<script src="/vendors/select2/select2.min.js"></script>
<script src="/vendors/title/tilt.jquery.min.js"></script>
<script src="/js/sign-in.js"></script>
<script>
	$('.js-tilt').tilt({
		scale: 1.1
	})
</script>

</html>